body {
  margin: 1rem;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  margin: 0 0.5rem 1rem 0;
  color: #333;
  transition: 0.2s ease;
}

.icon:hover {
  color: #555;
  transform: scale(1.1);
}

.col-sm-3 {
  padding: 1rem;
}

a {
  text-decoration: none;
}

.page-header {
  text-align: center;
}

.img-fluid {
  transition: 0.3s ease;
}

.img-fluid:hover {
  cursor: pointer;
  transform: scale(1.05);
}
